apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-django
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-django
  template:
    metadata:
      labels:
        app: demo-django
    spec:
      containers:
      - name: web
        image: demo-django:stable
        ports:
        - name: http
          containerPort: 8000

        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
          failureThreshold: 6

        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 15
          failureThreshold: 5

