apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-django
  labels:
    app: demo-django
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-django
  template:
    metadata:
      labels:
        app: demo-django
    spec:
      containers:
      - name: web
        image: ghcr.io/<YOUR_GITHUB_USER>/resilient-deployment-demo:demo-0.1.0
        ports:
        - containerPort: 8000
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 3
